NEXT_PUBLIC_APP_URL=https://www.deetnuts.com
POCKETBASE_INTERNAL_URL=http://pocketbase:8090
POCKETBASE_SERVICE_EMAIL=backend@deetnuts.invalid
POCKETBASE_SERVICE_PASSWORD=replace-with-32-to-72-random-characters
AUTH_STATE_SECRET=replace-with-at-least-32-random-characters
ADMISSIONS_V2_MHT_CET=true
MHT_CET_ENABLED=true
BOT_API_TOKEN=replace-with-at-least-32-random-bytes
DISCORD_PUBLIC_KEY=
DISCORD_GUILD_ID=
DISCORD_ALLOWED_GUILD_IDS=
