# dependencies
**/node_modules
**/.pnpm-store
**/.venv
**/__pycache__
**/.pytest_cache
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/test
/tests
/test-results
/playwright-report
/cypress
/e2e
/storybook
/storybook-static
/__tests__
/*.spec.*
/*.test.*

# next.js
**/.next/
**/.turbo/
/out/

# production
/build
/dist
/data/output
/ejam/data/_scratch

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini
.idea
.vscode
*.sublime*
*.log
.env*
!.env.example
docs
legacy
supabase
.agents
.codex
.vercel
ejam/.vercel
ejam/apps/web/.vercel
.editorconfig
.eslintrc*
.prettierrc*
.git
.github
.husky
.gitlab
CHANGELOG.md
README.md
LICENSE.md
docker-compose*
Dockerfile*
.dockerignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
